<%= form_for(@order) do |o| %>
  <% if @order.errors.any? %>
    <div id = "error_explanation">
      <h2><%= pluralize(@order.errors.count,"error") %> prohibited this order from being saved</h2>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "field form-group clearfix">
    <div class = "col-md-12"><%= o.label :dietary_preferences %></div>
    <div class = "col-md-12"><%= o.text_field :dietary_preferences %></div>
  </div>
  <div class = "actions">
    <%= o.submit %>
  </div>


<% end %>