<h2>Orders <small>| <%= link_to 'New Order', new_order_path %></small></h2>
<ul id="orders">
  <% @orders.each do |o| %>
    <li class="order">
      <ul>
        <li>
         <%= link_to "#{o.name}", o %>
        </li>
        <li>
         <%= link_to "Edit", edit_order_path(o) %>
        </li>
        <li>
         <%= link_to 'delete', o, {method: :delete} %>
        </li>
        <li>
         <%= button_to "Tonight", o, {method: :post, class: "btn btn-danger"} %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>