    <div width = "390px" height = "180px" style = "background-color:#911821; border:2px solid black">
      <%= image_tag 'http://storage.googleapis.com/emergenchefvideo/logo.png' %>
    </div>
    <div style = "border:2px solid black; border-top:0; padding:1em">
      <h1><%= @account.profile.startup_name %> Needs an Emergen-Chef Tonight!</h1>
      <h2>User Info:</h2>
        <ul>
          <li><strong>Name:</strong> <%= @account.profile.startup_name %></li>
          <li><strong>Email:</strong> <%= @account.email_address %></li>
          <li><strong>User Address:</strong> <%= @account.profile.address %></li>
          <li><strong>Phone Number:</strong> <%= @account.profile.phone_number %></li>
          <li><strong>Frequency of All Nighters:</strong> <%= @account.profile.how_frequently_your_team_pulls_all_nighters %></li>
          <li><strong>Favorite Foods:</strong4> <%= @account.profile.favorite_foods %></li>
        </ul>
      <h2>Order Info:</h2>
        <ul>
          <li><strong>Name:</strong> <%= @ord.name %></li>
          <li><strong>Order Address:</strong> <%= @ord.address %></li>
          <li><strong>Any Dietary Preferences?</strong> <%= @ord.dietary_preferences %></li>
          <li><strong>Reason for Event:</strong> <%= @ord.reason_for_event %></li>
        </ul>
     </div>

