<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/head.html" %>
  </head>
  <body>
    <div id="container">
      <%= render partial: "layouts/header.html" %>
      <%= render partial: "layouts/flash.html" %>
      <%= yield %>
      <%= render partial: "layouts/footer.html" %>
    </div>
  </body>
</html>
